﻿/* This is a minimal style sheet intended to demonstrate how to include 
   static content in your hybrid app.  Other static content, such as 
   javascript files and images, can be included in this same folder
   (Resources on iOS or Assets on Android), with the same Build Action 
   (BundleResource on iOS or AndroidAsset on Android), to be accessible 
   from a path starting at the root of your hybrid application.  */
*{
margin:0;
padding:0;
}
input {
 	width:100%;
}
body{
	background-color:#cecece;
}
.btnHome, .btnBack{
	width:80%;
	margin:0 auto;
	text-align: center;	
	height: 45px;
	background-color: #ff9022;
	font-size: 28px;
	font-weight: bold;	
	border-radius: 10px;
	cursor: pointer;
	padding-top: 10px;
}
.btnHome:hover{
	background-color: #ffc322;
}
.btnHome a, .btnBack a{
	text-decoration:none;
	color:#000000;
}
.btnBack {
margin-top:10px;
	background-color: #ff9dd2;
}
.pagination{
	margin:20px auto;
	height:15px;
	text-align: center;
	text-decoration:none;
	text-transform: uppercase;
	min-width: 290px;

}
.pagination .pagination-next, .pagination .pagination-prev{
	text-decoration:none;
}
.pagination .pagination-next{
	text-align:left;
	background-color: green;
    padding: 5px 15px 5px 5px;
	border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.pagination .pagination-prev{
	text-align:right;
	background-color: red;
    padding: 5px 5px 5px 15px;
	border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.listContent{
	margin:25px 20px;
	min-width: 250px;
}
.listContent ul li{
	border:2px solid #a5a5a5;
	margin: 10px auto;
	padding: 15px;
	background-color: #FFFFFF;
	border-radius: 15px;
}
.listContent ul li *{
	text-align:center;
}
.item-title{
	font-size: 25px;
}
.item-image img{
	width:215px;
}
.item-price-persentage{
    vertical-align: top;
    font-size: 40px;
    padding-left: 20px;
}
.price-container{
	width: 220px;
    min-height: 25px;
    margin: 0 auto;
}
.item-price-current{
	float: left;
}
.item-price-regular{
	float: right;
	text-decoration: line-through;
}
.item-details{
	margin-top:10px;
}
.item-details a{
	padding: 5px 45px;
	text-decoration: none;
	background-color:#6cd250;
	border-radius: 10px;
}
.wraperDetails{
	/*min-width: 500px;*/
    max-width: 100%;
    margin: 20px 50px;
    text-align: center;
	background-color:#FFFFFF;
	border-radius: 35px;
    padding: 25px;
}
.am-item-title{
	font-weight: bold;
}
.am-item-large-img img{
	max-width: 100%;
}
.price-regular{
    text-decoration: line-through;
}
.wraperDetails table{
	border:1px solid grey;
	border-spacing: 0;
}
.wraperDetails table tr:nth-child(even) {
    background-color: #e8e8e8;
}
.wraperDetails table tr:nth-child(odd) {
    background-color: #c7c7c7;
}
.wraperDetails table th,td{
	border:1px solid grey;
	padding-top: 7px;
	padding-bottom: 7px;
}
.wraperDetails table td{
	padding-left:10px;
}
.navigation-prev{
	text-align:right;
	background-color: red;
    padding: 5px 5px 5px 15px;
	border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
	float: right;
    margin-right: 20px;
	height: 40px;
    width: 105px;
	font-size: 28px;
    text-transform: uppercase;
	text-decoration: none;
	padding-top: 10px;
	color:#000000;
}
