﻿@model ShopDiscount.Models.Client.ArticleListModel
<html>
<head>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <div class="btnHome"><a href="action:list:10:1:1">HOME</a></div>
    <div class="pagination">
        @if (Model.Pagination.IsPrevExist)
            {
                var @prevPage = Model.Pagination.Page - 1;
            <a class="pagination-prev" href="action:list:@Model.Pagination.Count:@prevPage:@Model.Pagination.Order">Prethodni</a>
        }
        @if (Model.Pagination.IsNextExist)
            {
                var @nextPage = Model.Pagination.Page + 1;
            <a class="pagination-next" href="action:list:@Model.Pagination.Count:@nextPage:@Model.Pagination.Order">Sledeci</a>
        }
    </div>

    <div data-role="page" data-theme="b" class="listContent">
        <ul data-role="listview" style="list-style: none;">
            @for (var i = 0; i < Model.Articles.Length; i++)
            {
                var @item = Model.Articles[i];
                var @articleId = @item.ArticleId;
                var @shortTitle = @item.ShortTitle;
                var @smallAvatarSvc = @item.SmallAvatarSvc;
                var @description = @item.ShortDescription;
                var @currentPrice = @item.CurrentPrice;
                var @regularPrice = @item.RegularPrice;
                var @persentage = @item.Persentage;
                var @shopAvatarSvc = @item.ShopAvatarSvc;
                <li>
                    <div class="item-title">@shortTitle</div>
                    <div class="shop-image">
                        <img src="@shopAvatarSvc" /><span class="item-price-persentage">@persentage%</span>
                    </div>
                    <div class="item-image">
                        <img src="@smallAvatarSvc" />
                    </div>
                    <div class="price-container">
                        <div class="item-price-current">@currentPrice</div>
                        <div class="item-price-regular">@regularPrice</div>
                    </div>
                    <div class="item-description">@description</div>

                    <div class="item-details"><a href="action:details:@articleId:@Model.Pagination.Count:@Model.Pagination.Page:@Model.Pagination.Order">Detaljnije</a></div>
                </li>
            }
        </ul>
        <div class="pagination">
            @if (Model.Pagination.IsPrevExist)
            {
                var @prevPage = Model.Pagination.Page - 1;
                <a class="pagination-prev" href="action:list:@Model.Pagination.Count:@prevPage:@Model.Pagination.Order">Prethodni</a>
            }
            @if (Model.Pagination.IsNextExist)
            {
                var @nextPage = Model.Pagination.Page + 1;
                <a class="pagination-next" href="action:list:@Model.Pagination.Count:@nextPage:@Model.Pagination.Order">Sledeci</a>
            }
        </div>
    </div>
</body>
</html>	