@model ShopDiscount.Models.Client.ArticleModel
<html>
<head>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <div class="btnHome">
        <a href="action:list:10:1:1">HOME</a>
    </div>
    <div class="btnBack">
        <a href="action:list:@Model.ListViewInfo.Count:@Model.ListViewInfo.Page:@Model.ListViewInfo.Order">Nazad</a>
    </div>
    @{
        <div class="wraperDetails">
            <div class="am-item-shop-avatar"><img src="@Model.Article.Shop.AvatarSvc" /></div>
            <div class="am-item-title">@Model.Article.ArticleDetails.Title</div>
            <div class="am-item-desc">@Model.Article.ArticleDetails.Description</div>

            <div class="am-item-large-img"><img src="@Model.Article.Image.SmallImageSvc" /></div>
            <div class="price-regular">@Model.Article.Price.RegularPrice</div>
            <div class="price-discount">@Model.Article.Price.CurrentPrice</div>
            <div class="price-persentage">@Model.Article.Price.Persentage%</div>
            <div class="body-table"></div>
        </div>
    }
</body>
</html>	